$primary:#17a2b8;
$gray: #aaaaaa;

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.text-condensed{
  font-family: 'Roboto Condensed', sans-serif !important;
}

.text-thin{
  font-weight: 100;
}

.text-bold{
  font-weight: 700;
}

.text-tight{

}

.text-loose{
  letter-spacing: .4em;
}

.text-small{
  font-size: 0.8rem;
}

.cursor-pointer{
  cursor: pointer;
}

.scroll-x{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

/* navigation */
nav{
  &#main-nav{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      &.sub-menu{
        background: lighten($gray,25%);
        padding: 15px 0;
        li{
          font-size: 1.5rem;
          line-height: 2;
        }
      }
      li{
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        a{
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}

/* forms */
.form{
  label{
    display: block;
    font-size: 0.8rem;
  }
  input{
    font-size: 0.8rem;
    padding: 4px 8px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 3px;
    &:hover{
      border: 1px solid $primary;
    }
    &:focus, &:active{
      outline: none;
      border: 1px solid $primary;
    }

    &[type=submit]{
      background: $primary;
      font-size: 1rem;
      border-radius: 50px;
      border: none;
      padding: 10px 15px;
      color: #ffffff;
      &:hover{
        background: darken($primary,8%);
      }
    }

    &[type=reset]{
      background: transparent;
      border: none;
      padding: 10px 15px;
    }
  }
  textarea{
    font-size: 0.8rem;
    padding: 4px 8px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 3px;
    &:hover{
      border: 1px solid $primary;
    }
    &:focus, &:active{
      outline: none;
      border: 1px solid $primary;
    }
  }
  input[type=checkbox].normal-check{
    display:none;
    &+label{
      cursor: pointer;
      &:before {
        font: normal normal normal 16px/1 'Line Awesome Free';
        font-size: inherit;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        display: inline-block;
        content: "\f04d";
        letter-spacing: 5px;

      }
    }

    &:checked + label:before {
      content: "\f0fe";
      letter-spacing: 5px; }
  }

  input[type=radio].normal-check{
    display:none;
    &+label{
      cursor: pointer;
      &:before {
        font: normal normal normal 16px/1 'Line Awesome Free';
        font-size: inherit;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        display: inline-block;
        content: "\f111";
        letter-spacing: 5px;

      }
    }

    &:checked + label:before {
      content: "\f192";
      letter-spacing: 5px; }
  }


  /* icon radio buttons */
  .icon-radio-buttons {
    input[type=radio] {
      width: auto;
      display: none;
    }

    label {
      display: inline-block;
      background: #ffffff;
      color: darken($primary,10%);
      cursor: pointer;
      padding: 5px;
      text-align: center;
      border: solid 1px $primary;
      border-radius: 5px;
      //margin: 5px;
      width: auto;
      &:hover{
        background: lighten($primary, 3%);
        color: #ffffff;
        border: solid 1px $primary;
      }
    }

    input[type=radio]:checked + label {
      color: #ffffff;
      background: $primary;
      border: solid 1px $primary;
      background-size: 80%;
    }
  }

  select{
    font-size: 0.8rem;
    padding: 4px 8px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 3px;
    background: #ffffff;
    &:focus{
      outline: none;
    }

    option{

    }
  }
}

/* Modal */
.modal-dialog .bg-danger, .modal-dialog .bg-info, .modal-dialog .bg-success{
  color: #ffffff !important;
}

#response-modal-okay{
  border-radius: 0;
  border-bottom-right-radius: .25rem!important;
  border-bottom-left-radius: .25rem!important;
}
